* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* control page login */
.real h4 {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  font-family: "Monserat";
}

.gradient-custom-2 {
  background: #6c63ff;
}

.input-login {
  border: 1px solid #3f3d56;
  border-radius: 10px;
}

.siTerbang {
  color: #6c63ff;
}

.btn-login {
  background: #6c63ff;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  color: white;
}

.btn-login:hover {
  background: #3f3d56;
}

.btn-create {
  background: #6c63ff;
  color: white;
  border-radius: 20px;
  border: none;
  width: 100px;
  height: 35px;
}

.btn-create:hover {
  background: #3f3d56;
}

.text-forgot p {
  font-family: sans-serif;
  font-weight: 100;
  text-decoration: underline;
  cursor: pointer;
}

.err {
  color: #842029;
  margin-top: 5px;
  margin-left: 5px;
}

/* control admin page style */

#side_nav {
  background: #6c63ff;
  min-width: 250px;
  /* max-height: 250px; */
  transition: all 0.3s ease-in-out;
}

.content {
  min-height: 100vh;
  width: 100%;
}

.bear {
  min-width: 30px;
  text-align: center;
}

.sidebar li {
  color: #eee;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 50px;
  font-family: sans-serif;
  transition: all 0.8s ease-in-out;
}

.beruang:hover {
  background: white;
  border-radius: 8px;
  margin-bottom: 8px;
  color: black;
}
.control-terbang {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50%;
  margin-right: 50%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .gradient-custom-2 {
    display: none;
    opacity: 0;
  }
  .card-phone {
    height: 0;
  }
  .card-phone-xs {
    width: 100%;
  }

  #side_nav {
    margin-left: -250px;
  }
}

@media (max-width: 599px) {
  .gradient-custom-2 {
    display: none;
    opacity: 0;
  }
  .card-phone {
    height: 0;
  }
  .card-phone-xs {
    width: 100%;
  }
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }
  #side_nav.active {
    margin-left: 0;
  }
  .phone {
    font-family: sans-serif;
    font-style: normal;
    text-align: justify;
    width: 50px;
    line-height: 20px;
    margin-top: 12px;
  }
  .yui {
    color: #000;
    transition: all 0.5s ease-in-out;
  }
  .yui:hover {
    background: #6c63ff;
    width: auto;
    border-radius: 8px;
    color: white;
  }
}

@media (min-width: 768px) {
  /* control page login */
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  /* control page login */
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
